@import '/src/styles';

div {
  display: flex;
  flex-direction: column;
  align-items: center;

  .title-logo {
    margin: 8rem 0 auto;
    width: 20rem;
  }

  .signin-button {
    margin: 8rem 0 auto;
    width: 16.5rem;
    height: 3.5rem;
    background: $color-primary;
    color: white;
    font-size: large;
    border-radius: 1.75rem;
  }

  .see-list-button {
    margin: 2rem 0 auto;
    width: 16.5rem;
    height: 3.5rem;
    background: $color-primary;
    color: white;
    font-size: large;
    border-radius: 1.75rem;
  }
}
