@import '/src/styles';

* {
  width: 100%;
  height: 6.25rem;
  padding: 0rem;
  margin: 0rem;
  background: $color-background;
  border-bottom: solid;
  border-top: solid;
  border-bottom-width: 0.1875rem;
  border-top-width: 0.1875rem;
  border-bottom-color: $color-gray;
  border-top-color: $color-gray;
  div {
    display: flex;
    width: 12.3125rem;
    height: 3.5rem;
    margin: 0 auto;
    border: none;
    img {
      width: 3.5rem;
      height: 3.5rem;
      border: none;
    }
    p {
      height: 1.75rem;
      margin: auto;
      border: none;
    }
  }
}
